<div [ngSwitch]="alerta">
  <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
    This is a success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
  </div>
  <div *ngSwitchCase="'info'" class="alert alert-info" role="alert">
    This is a success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
  </div>
  <div *ngSwitchCase="'warning'" class="alert alert-warning" role="alert">
    This is a success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
  </div>
  <div *ngSwitchDefault class="alert alert-danger" role="alert">
    This is a success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
  </div>
</div>

<button class="btn btn-primary" (click)="alerta='danger'">cargar alerta</button>