<h4>Formularios <small>template</small></h4>
<hr>
<form novalidate="" (ngSubmit)="guardar(forma)" #forma="ngForm">

  <div>

    <div class="form-group row" [ngClass]="{'has-danger': (nombre.errors?.required || nombre.errors?.minlength) && nombre.touched}">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="nombre"
               [(ngModel)]="usuario.nombre"
               required
               minlength="5"
               #nombre="ngModel">
        <div *ngIf="nombre.errors?.required" class="form-control-feedback">
          Este campo es requerido
        </div>
        <div *ngIf="nombre.errors?.minlength" class="form-control-feedback">
          Este campo requiere {{nombre.errors.minlength.requiredLength}} caracteres
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               name="apellido"
               [(ngModel)]="usuario.apellido"
               required
               #apellido="ngModel">
               <div *ngIf="apellido.errors?.required">
                Este campo es requerido
              </div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electronico"
             [(ngModel)]="usuario.correo"
             name="correo"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #correo="ngModel">
             <div *ngIf="correo.errors?.required">
              Este campo es requerido
            </div>
            <div *ngIf="correo.errors?.pattern">
              El correo no cumple con el formato correcto
            </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pais</label>
    <div class="col-8">
      <select name="pais" id="" class="form-control" [(ngModel)]="usuario.pais">
        <option value="">Seleccione un pais</option>
        <option [value]="pais.codigo" *ngFor="let pais of paises">{{pais.nombre}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Sexo</label>
    <div class="col-8">
      <div class="form-check" *ngFor="let sexo_item of sexos">
        <input class="form-check-input" type="radio" name="sexo" [value]="sexo_item" [(ngModel)]="usuario.sexo">
        <label class="form-check-label" for="sexo">
          {{sexo_item}}
        </label>
      </div>
      <!-- <div class="form-check">
        <input class="form-check-input" type="radio" name="sexo" value="Mujer" [(ngModel)]="usuario.sexo">
        <label class="form-check-label" for="sexo">
          Hombre
        </label>
      </div> -->
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Acepta</label>
    <div class="col-8">
      <div class="form-check">
        <input class="form-check-input" required name="acepta" type="checkbox" value="" [(ngModel)]="usuario.acepta">
        <label class="form-check-label" for="defaultCheck1">
          Acepta las condiciones
        </label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
        <!-- [disabled]="!forma.valid" -->
      <button type="submit" class="btn btn-outline-primary" [disabled]="!forma.valid">
        Guardar
      </button>
    </div>
  </div>

</form>

<pre>{{usuario | json}}</pre>

